.backgroud {
  background-image: url('https://img.freepik.com/vector-gratis/patron-infantil-fisuras-perros-lindos_429461-311.jpg?w=740');
  overflow: auto;
}

.container {
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 80px;
  text-shadow: -1px -1px 0px #f4511e, 3px 3px 0px gainsboro, 6px 6px 0px teal;
}
