.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: center;
}

.inputContainer input {
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: teal;
  cursor: pointer;
}

.inputContainer input:focus {
  outline-color: teal;
}

button {
  margin-left: 0.5rem;
}
